.chip {
	border-radius: 1px;
	color: #fff;
	display: inline-block;
	font-size: 1rem;
	margin-left: 20px;
	padding: 2px 12px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

.chip .x {
	cursor: pointer;
	display: inline-block;
	margin-left: 6px;
}